  
body {background-color:lightgray;}

p {padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;}

nav {background-color: white}

.panel-body {background-color: white;}

h2 {color: teal; font-family: 'Times New Roman', Times, serif;padding-block-start: 10px;padding-left: 15px;font-weight: bold}
h3 {color: teal; font-family: 'Times New Roman', Times, serif;padding-block-start: 10px;padding-left: 15px;font-weight: bold}

.lattitude {color: white; background-color: teal;font-weight: bold;  
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;}
th {
    background-color: teal;
    color: white; 
    padding-left: 10x
  }
table {background-color: white; padding-left: 5x}
tr:nth-child(even) {background-color: #f2f2f2;}
